---
export interface Props {
	class?: string;
	siteName?: string;
}

const { class: className, siteName } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer class={className}>
	<p>&copy; {currentYear} {siteName}. All rights reserved.</p>
</footer>

<style>
	footer {
		background-color: var(--color-background);
		padding-bottom: 1em;
	}

	p {
		margin: 0;
		color: var(--color-text);
		font-size: var(--font-size-sm);
		text-align: center;
	}
</style>
